.Splashslider {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 70px;
    color: white;;
    padding-left: 1em; 
  }
  
  .SplashscrollContainer {
    position: fixed;
    left: 20px;
    bottom: 70px;
    margin: 10px;    
  }
  
  .Splashcarousel {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    height: 50px;
    width: 400px;
    text-align:start;  
  }
  .Splashcarousel + .Splashtext {
      margin-top: 20px;
  }


  /* .change:before {
    content: 'Discover Beauty';
    font-size: 100%;
    animation-name: change-letter;
    animation-duration: 6s; 
    animation-iteration-count: infinite;
  }
  
  @keyframes change-letter {
    0% {
      opacity: 1;
      content: "2asda"
    }
    20% {
      opacity: 0.5;
      content: "2asda"
    }
    40% {
      opacity: 0;
      content: "2asdad"
    }
    60% {
      opacity: 0.5;
      content: "3asdad"
    }
    80% {
      opacity: 1;
      content: "3asdad"
    }
    100% {
      opacity: 0;
      content: "asdad3"
    }

  } */


  .word {
    padding-left: 8px;
    color: rgb(92, 166, 227);
    font-weight: bold;
    font-size: 50px;
  }
  

.topbox {
    float: right;
    z-index: 5;
}

.image {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transition: opacity 1.5s ease;
    opacity: 0;
}

.active {
    opacity: 1;
}

.redirectContainer {
    width: 350px;
    height: 63px;
    background-color: white;
    margin-left: 25px;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, .2);
    float: right;
}

.redirectContainer {  
    display: grid;
    place-items: center;
}

.redirectSignUp {
    color: #0095f6;
    font-weight: bold;
}  


