.SplashTopRight {
  font-size: 35px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  position: absolute;
  right: 5%;
  top: 1em;
  cursor:pointer 

}

.footer {
  position: absolute;
  left: 5%;
  bottom:  1em;
  z-index: 2;
}
.FooterText {
  position: absolute;
  left: 5%;
  bottom:  3em;
  z-index: 2;
  color: white; 
  font-family: 'Crimson Pro', serif;
  font-size: 100px;
  font-weight: 500;
  line-height: 1.45em;
  width: 30px;
}

.FooterCarText { 
  color: white;
  font-family: 'Dancing Script', cursive; 
}
.FootPart1Anim {
  animation: animright 240s linear infinite; 
  white-space: nowrap; 
}

@keyframes animright {
  0%{transform: translate3d(0,0,0);}
  100%{transform: translate3d(-50%,0,0);}
}


.FootPart2Anim {
  animation: animleft 400s linear infinite;
  white-space: nowrap;
} 


@keyframes animleft {
  0%{transform: translateX(0);}
  100%{transform: translateX(50%);}
}



.topbox {
    float: right;
    z-index: 5;
}

.image {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transition: opacity 1.5s ease;
    opacity: 0;
}

.active {
    opacity: 1;
}

.redirectContainer {
    width: 350px;
    height: 63px;
    background-color: white;
    margin-left: 25px;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, .2);
    float: right;
    z-index: 10;
}

.redirectContainer {  
    display: grid;
    place-items: center;
}

.redirectSignUp {
    color: #0095f6;
    font-weight: bold;
}  


