@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');


.SoloWrapper {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color: #F2F2F2;  

    height: 70em; 
    
}

.Solocard {
    display: flex;
    flex-direction: column; 
    row-gap: 8px;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    width: 80em;
    height: 51em; 
}

.solotop {
    display: flex;
    flex-direction: row;
}
.SoloCardInfo { 
    display: flex;
    column-gap: 30px;
    width: 100%;
    z-index: 5;
} 

.SoloControl {
    font-size: 30px;
    padding-left: 14em;
}
.SoloLocation { 
    padding-right: 35em;
}
.SoloAvatar {
    width: 3em;
    height: 3em;
    border-radius: 18px;  
    background-size: cover;
    background-position: top;
    transition: 2s cubic-bezier(1, 0, 0, 1);
}

.SoloPhoto {
    width:40em; 
    height:40em;
    background-size: cover;
    background-position: center;
}

.SoloMap {
    width:40em; 
    height:40em;
    background-color: red;

}
.SoloCardRight {
    display: flex;
    justify-content: flex-start;
}


.SoloCardComments {
    display: flex;
    flex-direction: column;
}


.SoloSplit {
 display: flex;
 flex-direction: row; 
}


.activity {
    margin-top: 30px;
    width: 70%;
    font-weight: 300;
    color: rgba(0, 0, 0, .5)
}



.Solotext {
    color: rgba(0, 0, 0, .5);
    transition: .5s cubic-bezier(1, 0, 0, 1);
}

.Solotext:hover {
    color: maroon; 
}

.Soloinfo {
    display: flex;
    justify-content: space-between;
    width: 200%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.setting {
    color: rgba(0, 0, 0, .5);
}

.comment {
    font-size: 25px;
    color: rgba(0, 0, 0, .4);
    transition: .5s cubic-bezier(1, 0, 0, 1);
    cursor: pointer;
} 

.comment:hover {
    color: #026670;
}

.SolocardIcons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    column-gap: 10px;
    margin-top: 10px;
    font-size: 20px;
}

.SoloLikeIcon {
    color: maroon;
    font-size: 35px;
    cursor: pointer;
}

.SoloLikeIcon:hover {
    color: maroon; 
}


/* Comment Container  */

.CommentZone {
width:38em;
height:36em;
overflow-y: scroll;
margin-left: 30px;
}



.OneCommentContainer {
    display: flex;
    margin-top: 20px;
    align-items: flex-start;
    width: 100%;
}

.OneCommentContainer .channel-content-message {
    padding-left: 1.5px; 
}

.CommentProfileContainer {
    height: 45px;
    width: 45px; 
}

.CommentImg {
    height: 100%; 
    width: 100%;
    object-fit: cover;
    border-radius: 50%;  
}

.OneCommentInfo {  
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 100%;
    padding-right: 10px;
}

.commentUserName {
    color: black;
    font-family: 'Roboto', sans-serif;  
    font-weight: 500;
    margin-top: 3px;
}

.commentDate {
    color: #6B6F75;
    margin-left: 10px;
    font-size: 14px;
}















.link {
    background-color: maroon;
    color: black;
}

.actP {
    font-weight: 300;
    color:rgba(0, 0, 0, .7)
}




/* New Comment  */



.addCommentForm {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position:relative;
}

.addCommentLabel {
    width: 100%;
    height: 100%;
    position: relative;
}

.addCommentInput {  
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    color: maroon;
    resize: none;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 22px;
    box-sizing: border-box;
}

.commentCounter{
    color:  maroon;
    position: absolute;
    right: 10px;
    bottom: 3px;
    font-size: 12px;
}

.emoji-selector {
    position: absolute;
    left: 30px;
    top: 10px;
    z-index: 3;
    font-size: 24px;
    filter: grayscale();
    transition: .1s;
}

.emoji-selector:hover {
    cursor: pointer;
    transform: scale(1.2);
    filter: grayscale(0);
}


